@import "tailwindcss";

@theme {
  --color-slate-900: #0f172a;
  --color-slate-950: #020617;
  --color-slate-800: #1e293b;
  --color-slate-700: #334155;
  --color-slate-600: #475569;
  --color-slate-500: #64748b;
  --color-slate-400: #94a3b8;
  --color-slate-300: #cbd5e1;
  --color-slate-200: #e2e8f0;
  --color-slate-100: #f1f5f9;
  --color-slate-50: #f8fafc;
}

/* Configure dark mode strategy */
@variant dark (&:where(.dark, .dark *));

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-slate-300);
  border-radius: 9999px;
}

@media (prefers-color-scheme: dark) {
  ::-webkit-scrollbar-thumb {
    background-color: var(--color-slate-700);
  }
}

:is(.dark) ::-webkit-scrollbar-thumb {
  background-color: var(--color-slate-700);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-slate-400);
}

:is(.dark) ::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-slate-600);
}
